:root {
  --black: #000000;
  --white: #ffffff;
}
*{
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--black);
  color: #fff;
}

.nav-links a {
  color: #fff;

}

/* LOGO */
.logo {
  font-size: 32px;
}

.menu {
  display: flex;
  gap: 0.2em;
  font-size: 18px;
  margin-right: 10px;
}

body {
  margin: 0px !important;
}

.container {
  padding: 30px;
}

.dev_input {
  display: flex;
  gap: 10px;
}

.p-absolute {
  position: absolute;
}

.right-0 {
  right: 2px;
}
.bottom-0 {
  bottom: 0px;
}
.f-white{
  color: var(--white);
}
.p-5{
  padding: 5em;
}
.film_description{
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box {
  max-width: 500px;
  margin: auto;
  
}
.carousel-wrapper {
  width: 100%;
  max-width: 800px;
  /* Adjust the maximum width as needed */
  margin: auto;
}

.slide img {
  width: 100%;
  /* Adjust this to fit the carousel width */
  height: auto;
  /* Maintain aspect ratio */
  max-height: 500px;
  /* Set a maximum height if needed */
  object-fit: cover;
  /* Adjust the image to cover the container */
}
.carousel-wrapper {
  width: 100%;
  max-width: 1200px;
  /* Adjust as needed */
  margin: auto;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.no-underline {
  text-decoration: none;
}


.loader {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #000;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}